@using CarLeasePPT.Utility
@model CarLeasePPT.Models.PasswordResetViewModel
@{
    Layout = "~/Views/Shared/_LayoutAlternate.cshtml";
    ViewBag.Title = Resources.Account_PasswordReset_Title;
}

<section id="loginForm">
    @using (Html.BeginForm("PasswordReset", "Account", new {}, FormMethod.Post, new {role = "form"}))
    {
        @Html.AntiForgeryToken()
        <div class="row">
            <div class="col-lg-6 offset-3">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card mb-3">
                            <h5 class="card-header text-center">@Resources.Account_PasswordReset_Title</h5>
                            <div class="card-body">
                                @Html.Partial("_ValidationSummary")
                                <div class="form-group">
                                    @Html.LabelFor(m => m.Email, new {@class = "sr-only"})
                                    @Html.TextBoxFor(m => m.Email, new {@class = "form-control form-control-sm", placeholder = Resources.Account_PasswordReset_EmailAddress_DisplayName})
                                </div>
                                <div class="form-group">
                                    <input type="submit" value="@Resources.Account_PasswordReset_Submit_DisplayName" class="btn btn-primary btn-block"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card mb-3">
                            <div class="card-body">
                                <p class="card-text">@Html.ActionLink(Resources.Account_PasswordReset_RememberedPassword_Message, "Login", null, new {@class = "btn btn-secondary btn-block"})</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</section>