@using CarLeasePPT.Utility
@model CarLeasePPT.Models.SetPasswordViewModel
@{
    Layout = "~/Views/Shared/_LayoutAlternate.cshtml";
    ViewBag.Title = Resources.Account_SetPassword_Title;
}

<div class="row">
    <div class="col-lg">
        <div class="row">
            <div class="col-lg-4">
                <div class="card mb-3">
                    <h5 class="card-header text-center">@Resources.Account_SetPassword_Title</h5>
                    <div class="card-body">
                        <p>@Resources.Account_SetPassword_Message</p>
                        @using (Html.BeginForm("SetPassword", "Account", new {}, FormMethod.Post, new {role = "form"}))
                        {
                            @Html.AntiForgeryToken()
                            @Html.Partial("_ValidationSummary")
                            <div class="row">
                                <div class="col-lg">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.NewPassword, new {@class = ""})
                                        @Html.PasswordFor(m => m.NewPassword, new {@class = "form-control form-control-sm"})
                                        @Html.ValidationMessageFor(m => m.NewPassword, "", new {@class = "text-danger"})
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.ConfirmPassword, new {@class = ""})
                                        @Html.PasswordFor(m => m.ConfirmPassword, new {@class = "form-control form-control-sm"})
                                        @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new {@class = "text-danger"})
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg">
                                    <div class="form-group">
                                        <input type="submit" value="@Resources.Account_SetPassword_Submit_DisplayName" class="btn btn-primary btn-block"/>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="card mb-3">
                    <h5 class="card-header">@Resources.Account_SetPassword_PasswordSecurityPolicy_Heading</h5>
                    <div class="list-group">
                        @if (!Model.PasswordSecurityPolicyCollection.Count.Equals(0))
                        {
                            foreach (var role in Model.PasswordSecurityPolicyCollection)
                            {
                                <div class="list-group-item">@role</div>
                            }
                        }
                        else
                        {
                            <div class="list-group-item">@string.Format(Resources.Settings_Password_PasswordPolicy_LengthMinimum_Message, 10)</div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>