@using CarLeasePPT.Utility
@model CarLeasePPT.Models.SecurityPasswordViewModel
@{
    ViewBag.Title = Resources.Settings_Password_Title;
}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">@Html.ActionLink(Resources.Common_Dashboard_Link, "Index", "Home")</li>
        <li class="breadcrumb-item active" aria-current="page">@Resources.Settings_Password_Link</li>
    </ol>
</nav>
@if (Model.IsSuccess)
{
    <div class="row">
        <div class="col-lg">
            <div class="alert alert-success" role="alert">
                @Resources.Settings_Password_PasswordChangedSuccessfully_Message
            </div>
        </div>
    </div>
}
<div class="row">
    <div class="col-lg-4">
        <div class="row">
            <div class="col-lg-12">
                <div class="card mb-3">
                    <div class="card-header">
                        <h5 class="card-title mb-0">@Resources.Settings_Password_PasswordInformation_Title</h5>
                    </div>
                    <div class="card-body">
                        <dl class="dl-postspace dl-form-mimic mb-0">
                            <dt>@Html.DisplayNameFor(m => m.EffectiveDateTime)</dt>
                            <dd>@Html.DisplayFor(m => m.EffectiveDateTime)</dd>
                            @if (!Model.ExpirationDateTime.Year.Equals(9999))
                            {
                                <dt>@Html.DisplayNameFor(m => m.ExpirationDateTime)</dt>
                                <dd>@Html.DisplayFor(m => m.ExpirationDateTime)</dd>
                            }
                        </dl>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg">
                <div class="card mb-3">
                    <div class="card-body">
                        @using (Html.BeginForm("Password", "Settings", new {}, FormMethod.Post, new {role = "form"}))
                        {
                            @Html.AntiForgeryToken()
                            @Html.Partial("_ValidationSummary")
                            <div class="row">
                                <div class="col-lg">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.Password, new {@class = ""})
                                        @Html.PasswordFor(m => m.Password, new {@class = "form-control form-control-sm"})
                                        @Html.ValidationMessageFor(m => m.Password, "", new {@class = "text-danger"})
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.NewPassword, new {@class = ""})
                                        @Html.PasswordFor(m => m.NewPassword, new {@class = "form-control form-control-sm"})
                                        @Html.ValidationMessageFor(m => m.NewPassword, "", new {@class = "text-danger"})
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.ConfirmPassword, new {@class = ""})
                                        @Html.PasswordFor(m => m.ConfirmPassword, new {@class = "form-control form-control-sm"})
                                        @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new {@class = "text-danger"})
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <input type="submit" value="@Resources.Settings_Password_ChangePasswordButton_Title" class="btn btn-primary"/>
                                        @Html.ActionLink(Resources.Common_CancelButton_DisplayName, "Index", "Home", null, new {@class = "btn btn-danger"})
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-8">
        <div class="card mb-3">
            <div class="card-header">
                <h5 class="card-title mb-0">@Resources.Settings_Password_PasswordSecurityPolicy_Heading</h5>
            </div>
            <div class="card-body">

                <ul class="list-unstyled mb-0">
                    @if (!Model.PasswordSecurityPolicyCollection.Count.Equals(0))
                    {
                        foreach (var psp in Model.PasswordSecurityPolicyCollection)
                        {
                            <li>@psp</li>
                        }
                    }
                    else
                    {
                        <li>@string.Format(Resources.Settings_Password_PasswordPolicy_LengthMinimum_Message, PasswordSecurityPolicy.MinimumLength)</li>
                    }
                </ul>
            </div>
        </div>
    </div>
</div>